# -----------------------------------------------------------
# Secret Files Management
# -----------------------------------------------------------

# 1. "secret" という文字が含まれるファイルは、一旦すべて除外する
#    (これで Rawファイル, Template, Sealed すべてが対象になります)
*secret*

# 2. ただし、SealedSecret (*.sealed.yaml) だけは例外として許可する
#    (これをデプロイしたいため)
!*.sealed.yaml
